<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; TravelBee 2021 <a style="text-decoration: none;" href="https://www.linkedin.com/in/rahul-choudhary-18407b1a0/">Rahul Choudhary</a></span>
    </div>
</footer>